#header{
    background-color: #61A4D4;
    height: 100px;
    display: flex;
    justify-content: center;
}

body{
    font-family: 'Open Sans', sans-serif !important;
    background-color: #424AD6;
}

#footer{
    background-color: #779CEB;
}