#header{
    background-color: #61A4D4;
    height: 100px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

body{
    font-family: 'Open Sans', sans-serif !important;
    background-color: #424AD6;
}